@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --dark-pink: #df3e46;
}

.bg-blend {
  background: linear-gradient(
    rgba(10, 10, 10, 0.897),
    rgba(221, 219, 219, 0.5)
  ), url('/images/cat.jpg');
  background-size: cover;
  background-position: center;
}


.portfolioText {
  color: #ce5712; 
  background: linear-gradient(45deg, #995d0e, #f8f7f6);
  background-clip: text;
  transition: color 0.3s ease; 
}

.portfolioText:hover {
  color: var(--dark-pink); 
}
